body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(https://images.immediate.co.uk/production/volatile/sites/30/2017/01/Bunch-of-bananas-67e91d5.jpg?quality=90&resize=440,400);
  background-repeat: no-repeat; /* no-repeat | repeat | repeat-x | repeat-y */
  background-position: calc(100% - 50px) 50px; /* x - left center right ;  y - top center bottom or units */
}

p {
  color: red;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5em;
  text-transform: lowercase;
  background-color: rgb(0,0,0, 0.5);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline double blue;
}

div {
  font-size: 40px;
}

.input {
  width: 200px;
  height: 50px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/1077/1077114.png');
  background-repeat: no-repeat;
  background-size: 20px auto;
  background-position: 10px center;

  /* background: url('https://cdn-icons-png.flaticon.com/128/1077/1077114.png') no-repeat 10px center / 20px auto; */
}

.select {
  width : 200px;
  height: 50px;
  background-image: url('https://cdn-icons-png.flaticon.com/128/1077/1077114.png'), url('../arrow.png');
  background-repeat: no-repeat;
  background-size: 20px auto, 10px auto;
  background-position: 10px center, calc(100% - 10px) center;

  appearance: none;
}

body {
  color: #fff;
  background: rgb(34,193,195);
  background: linear-gradient(58deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}