* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.wrap {
  background-color: red;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
  height: 200px;
}

.col {
  float: left;
  width: 33.33%;
}